.container {
  background-color: var(--surface-color);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  min-height: 100%;
}

img {
  width: 10rem;
  height: fit-content;
}

label {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}
