.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 8rem;
  background-color: var(--primary-tint);
}

.sortingOptionsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.sortTitle {
  display: flex;
  align-items: center;
  font-size: var(--font-size-h1);
  padding: var(--space-md);
  white-space: nowrap;
  color: #FFFF;
}

.sortingSelector {
  outline: none;
  margin: var(--space-md);
  padding: var(--space-xs);
  font-size: var(--font-size-h4);
  width: 100%;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: var(--btn-border-radius);
  background-color: var(--secondary-main);
  transition: transform 0.2s ease, background-color 0.3s ease-out;
}
.sortingSelector:hover {
  transform: scale(var(--transform-hover-scaling));
}

.clearAllButton {
  background-color: var(--secondary-main);
  margin: var(--space-md);
  white-space: nowrap;
}
.clearAllButton:hover {
  background-color: var(--secondary-tint);
}
.clearAllButton:active {
  background-color: var(--secondary-main);
}
