.container {
  background-color: var(--surface-color);
  width: 100%;
  border: var(--box-border-width-md) solid var(--border-color);
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
}

.titleDetail {
  white-space: nowrap;
  padding: var(--space-sm);
  overflow-x: auto;
  max-width: 100%;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}
.titleInput {
  margin: var(--space-sm);
  padding: var(--space-xs);
  width: 100%;
  outline: none;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}
.dateDisplay {
  padding: var(--space-xs);
  text-align: center;
  min-width: 11rem;
  font-size: var(--font-size-h1);
}

.detailModifiersContainer {
  display: flex;
  gap: var(--space-lg);
  margin: var(--space-sm);
  align-items: center;
}

.dateInput {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: var(--space-xs);
  font-size: var(--font-size-base);
}
.dateInput:focus {
  outline: none;
}

.priorityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-h4);
}
.priorityContainer label {
  font-weight: var(--font-weight-bold);
}
.priorityContainer select {
  outline: none;
  margin-top: var(--space-xxs);
  padding: var(--space-xs);
  width: 100%;
  font-size: var(--font-size-h4);
}

.editButton:hover {
  background-color: var(--secondary-tint);
}
.editButton:active {
  background-color: var(--secondary-main);
}

.descriptionContainer {
  padding: var(--space-sm);
  padding-top: 0;
  overflow-y: scroll;
  height: 100%;
  max-height: 16rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: var(--font-size-p);
}
.descriptionTextareaContainer {
  overflow-y: auto;
  margin: 0 var(--space-sm);
}
.descriptionTextareaContainer textarea {
  width: 100%;
  padding: var(--space-xs);
  min-height: 10rem;
  resize: none;
  font-size: var(--font-size-p);
}
.descriptionTextareaContainer textarea:focus {
  outline: none;
}

.deleteBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.deleteBtn {
  margin: var(--space-xxs) var(--space-sm) var(--space-sm) 0;
  background-color: var(--surface-color);
}

.deleteBtn img {
  min-width: var(--space-lg);
  width: var(--space-lg);
}

@media (max-width: 768px) {
  .detailsContainer {
    flex-direction: column;
  }

  .detailModifiersContainer {
    margin-top: 0;
    gap: var(--space-lg);
  }

  .titleInput {
    width: 90%;
  }
}

@media (max-width: 401px) {
  .detailModifiersContainer {
    max-width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }
}
